body{
    font-family: monospace, sans-serif;
    background-color: #ffffff;
    color: #2a552c;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdff93;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 1180px) {
    .header-inner {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        gap: 0px;
    }
}

h1{
    color: #2a552c;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 0px; 
    padding: 0;
}

@media (max-width: 1180px) {
    .nav-list {
        flex-direction: column; 
    }
}

.nav {
    border-radius: 20px;
}
nav a {
    text-decoration: none;
    color: #2a552c;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
}

@media (max-width: 1180px) {
    nav a {
        padding: 5px 10px;
    }
}

p {
   color: #2a552c;
}

.container {
    padding: 20px;
    background-color: #bdff93;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.container-main {
    display: flex;
    padding: 20px;
    gap: 30px;
    background-color: #bdff93;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

@media (max-width: 1180px) {
    .container-main {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
}

