.projects-post {
    background-color: #ffffff;
    border: 50px solid #ffffff;
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.trashtag-image {
    width: 500px; 
    height: auto; 
    border-radius: 10px; 
    display: block;
    margin-top: 20px;
   
}

.nav-buttons {
    border: none;
    font-family: inherit;
    background-color: transparent;
    color: #2a552c;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

@media(max-width: 1880px){
    .nav-buttons{
        flex-direction: column;
    }
}